<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>activity</title>

     {% load staticfiles %}
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="{% static 'css/basic.css' %}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='' rel='stylesheet' type='text/css' />
</head>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">国民革命委员会</a>
            </div>

            <div class="header-right">

                  <p>{{ user.username }},您好</p>

            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="{% static 'img/user.png' %}" class="img-thumbnail" />
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;
                            <button class="btn bg-info"><a href="{% url 'logout' %}">退出</a></button>
                            <div class="inner-text">
                                {% if user.is_manager %} 管理员：{% else %}普通用户：{% endif %}{{ user.username }}
                                <br />
                                <small>登录时间 : {{ time }}</small>
                            </div>
                        </div>

                    </li>


                    <li>
                        <a class="" href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}"><i class="fa fa-circle-o "></i>民革简介 </a>

                    </li>
                    <li>
                        <a href="{% url 'leader' %}"><i class="fa fa-circle-o "></i>领导班组</a>
                    </li>
                    <li>
                        <a href="{% url 'activity' %}"><i class="fa fa-circle-o "></i>活动风采 </a>
                    </li>
                    <li>
                        <a href="{% url 'addresslist' %}"><i class="fa fa-bug "></i>支部通信录</a>
                    </li>
                    <li>
                        <a href="{% url 'userinformation' %}?name={{ user.username }}"><i class="fa fa-bicycle "></i>个人信息中心</a>
                    </li>
                   {% if user.is_manager %}
                       <li>
                           <a href="{% url 'userlist' %}"><i class="fa fa-bicycle "></i>管理员入口</a>
                        </li>
                       {% else %}
                        <li>
                           <a href="{% url 'login' %}"><i class="fa fa-bicycle "></i>管理员入口</a>
                       </li>
                       {% endif %}



                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="main-box mb-red">
                                <a href="{% url 'addresslist' %}">
                                    <h5>通信录</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="main-box mb-dull">
                                <a href="{% url 'userinformation' %}?name={{ user.username }}">
                                    <h5>个人信息</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="main-box mb-pink">
                                {% if user.is_manager %}
                                    <a href="{% url 'userlist' %}">
                                    <h5>管理员入口</h5>
                                </a>
                                {% else %}
                                    <a href="{% url 'login' %}">
                                    <h5>管理员入口</h5>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                    </div>


                <div class="row">
                        <div class="col-md-12" style="margin-bottom: 20px">
                                <h1 class="page-head-line">近期活动</h1>

                            </div>
                </div>

                </div>

                <div class="row">
                        <div class="panel panel-danger">
                                <!-- Default panel contents -->
                            <div class="panel-heading">活动1</div>
                            <div class="row" style="margin: 10px">
                                <div class="col-md-6">
                                    <img src="/media/2.1.jpg" style="width: 100%">
                                </div>

                                <div class="col-md-offset-1 col-md-4">
                                    <p>活动简介</p>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>某某宝活动简干啥</p>
                            </div>
                        </div>
                </div>

                   <div class="row">
                        <div class="panel panel-warning">
                                <!-- Default panel contents -->
                            <div class="panel-heading">活动1</div>
                            <div class="row" style="margin: 10px">
                                <div class="col-md-6">
                                    <img src="/media/2.2.jpg" style="width: 100%">
                                </div>

                                <div class="col-md-offset-1 col-md-4">
                                    <p>活动简介</p>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>某某宝活动简干啥</p>
                            </div>
                            </div>
                   </div>

                   <div class="row">
                        <div class="panel panel-primary">
                                <!-- Default panel contents -->
                            <div class="panel-heading">活动1</div>
                            <div class="row" style="margin: 10px">
                                <div class="col-md-6">
                                    <img src="/media/2.3.jpg" style="width: 100%">
                                </div>

                                <div class="col-md-offset-1 col-md-4">
                                    <p>活动简介</p>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>某某宝活动简干啥</p>
                            </div>
                            </div>
                   </div>
                </div>
        </div>
            <!-- /. ROW  -->
            <!-- /. ROW  -->



            <div id="footer-sec">
                Copyright &copy; 2016.Company name All rights reserved.
            </div>
    </div>
            <!-- /. FOOTER  -->
            <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
       <!-- JQUERY SCRIPTS -->
    <script src="{% static 'js/jquery-1.10.2.js'%}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>



</body>
</html>
