<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    {% load staticfiles %}
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="{% static 'css/basic.css' %}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">国民革命委员会</a>
            </div>

            <div class="header-right">

                  <p>{{ user.username }},您好</p>

            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="{% static 'img/user.png' %}" class="img-thumbnail" />
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn bg-info"><a href="{% url 'logout' %}">退出</a></button>
                            <div class="inner-text">
                                {% if user.is_manager %} 管理员：{% else %}普通用户：{% endif %}{{ user.username }}
                                <br />
                                <small>登录时间 : {{ time }}</small>
                            </div>
                        </div>

                    </li>


                    <li>
                        <a class="" href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}"><i class="fa fa-circle-o "></i>民革简介 </a>

                    </li>
                    <li>
                        <a href="{% url 'leader' %}"><i class="fa fa-circle-o "></i>领导班组</a>
                    </li>
                    <li>
                        <a href="{% url 'activity' %}"><i class="fa fa-circle-o "></i>活动风采 </a>
                    </li>
                    <li>
                        <a href="{% url 'addresslist' %}"><i class="fa fa-bug "></i>支部通信录</a>
                    </li>
                    <li>
                        <a href="{% url 'userinformation' %}?name={{ user.username }}"><i class="fa fa-bicycle "></i>个人信息中心</a>
                    </li>
                   {% if user.is_manager %}
                       <li>
                           <a href="{% url 'userlist' %}"><i class="fa fa-bicycle "></i>管理员入口</a>
                        </li>
                       {% else %}
                        <li>
                           <a href="{% url 'login' %}"><i class="fa fa-bicycle "></i>管理员入口</a>
                       </li>
                       {% endif %}



                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="main-box mb-red">
                                <a href="{% url 'addresslist' %}">
                                    <h5>通信录</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="main-box mb-dull">
                                <a href="{% url 'userinformation' %}?name={{ user.username }}">
                                    <h5>个人信息</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="main-box mb-pink">
                                {% if user.is_manager %}
                                    <a href="{% url 'userlist' %}">
                                    <h5>管理员入口</h5>
                                </a>
                                {% else %}
                                    <a href="{% url 'login' %}">
                                    <h5>管理员入口</h5>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
       
               
                        <!--/.Chat Panel End-->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">民革简介</h1>
                        <div class="row">
                            <h1 class="text-center"><strong>武汉市武昌区国民革命委员会</strong></h1>
                            <div style="padding: 10px"></div>
                            <div class="col-md-7" style="overflow: hidden;">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="/media/1.12.jpg" alt="...">
                                        <div class="carousel-caption">
                                            <h3 style="color: black">简介</h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="/media/1.11.jpg" alt="...">
                                        <div class="carousel-caption">
                                            <h3 style="color: black">简介</h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="/media/1.13.jpg" alt="...">
                                        <div class="carousel-caption">
                                            <h3 style="color: black">简介</h3>
                                        </div>
                                    </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-5 col-md-offset-0" >
                                    <h4><strong>简介</strong></h4>
                                    <p><strong>&nbsp; &nbsp; 中国国民党革命委员会（The Revolutionary Committee Of The Chinese Kuomintang）简称民革，中华人民共和国现有的民主党派之一，由中国国民党民主派和其他爱国民主人士创建、具有政治联盟特点、为社会主义服务的政党，是与执政党中国共产党通力合作的一个参政党。</strong></p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;中国国民党革命委员会（简称民革）是中国共产党领导的多党合作制度下的参政党，以同原中国国民党有关系的人士、同本党有历史联系和社会联系的人士、同台湾各界有联系的人士、社会和法制专业人士以及其他人士为发展对象，具有政治联盟性质,自1948年元旦成立已经七十年。武汉市武昌区工作区委员会（简称民革武昌工委会）是民革武汉市委员会在武昌的派驻机构，现有9个基层支部，截至2017年底共有党员212人，其中具有高级职称的78人，市人大代表2人，
                                    市政协委员6人，区人大代表7人，其中区人大常委2人，区政协委员12人，其中区政协常委2人。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="row">
                        <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                        <div class="col-md-offset-1">
                            <h3><strong>发展历程：</strong></h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="para" label-module="para">
                                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  建国以后，作为中国共产党领导的多党合作中的一个民主党派，民革许多领导人担任国家、政府、政协的重要职务，参加了国家政权建设和国家事务的管理。1949年11月，中国国民党民主派第二次代表会议在北京举行，确立了接受中国共产党领导和为新民主主义服务的政治路线。会议还决定，民革成立后仍保留各自组织的民联、民促结束活动，使民革真正成为了国民党爱国民主力量的统一组织。面对建国初期新的形势与任务，在中国共产党的领导和帮助下，民革组织全体党员认真学习马列主义、毛泽东思想，积极投身反帝爱国和争取祖国统一的伟大斗争，踊跃参加国家的各项民主改革和建设实践，为巩固人民民主政权，恢复和发展国民经济，实现过渡时期总任务，发挥了应有的作用。</strong>
                                <strong></strong>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="padding: 30px"></div>
                <div class="row">
                        <div class="row">
                                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                                <div class="col-md-offset-1">
                                    <h3><strong>近期活动：</strong></h3>

                                </div>
                        </div>

                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                        <div style="overflow: hidden; ">
                                            <img src="/media/2.11.jpg" alt="https://www.baidu.com" style="width: 100%;">
                                        </div>

                                        <div style="margin-top: 10px; padding: 5px">
                                            <p><strong>某某简介</strong></p>
                                            <a href="{% url 'activity' %}">查看详细</a>
                                        </div>

                                </div>

                                <div class="col-md-4">
                                        <div style="overflow: hidden; ">
                                            <img src="/media/2.22.jpg" alt="https://www.baidu.com" style="width: 100%;">
                                        </div>

                                        <div style="margin-top: 10px; padding: 5px">
                                            <p><strong>某某简介</strong></p>
                                            <a href="{% url 'activity' %}">查看详细</a>
                                        </div>

                                </div>

                                <div class="col-md-4">
                                        <div style="overflow: hidden; ">
                                            <img src="/media/2.33.jpg" alt="https://www.baidu.com" style="width: 100%;">
                                        </div>

                                        <div style="margin-top: 10px; padding: 5px">
                                            <p><strong>某某简介</strong></p>
                                            <a href="{% url 'activity' %}">查看详细</a>
                                        </div>

                                </div>


                            </div>
                        </div>
                </div>


                </div>



                <!-- /. ROW  -->
                <!-- /. ROW  -->
              

                <!-- /. ROW  -->

               

    <div id="footer-sec">
        Copyright &copy; 2016.Company name All rights reserved.
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'js/jquery-1.10.2.js'%}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    


</body>
</html>
